.photo{
  height: 25vh;
  border-radius: 8px;
}

.photo1{
  height: 20vh;
}

.text{
  margin-left:60px;
}

.btn1{
  display: block;
  margin : auto;
  text-align: center;
  padding: 10px;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 20px;
}

body, html {
    margin: 0;
    padding: 0px;
    overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: black;
  h1, h2, h3, h4 {
  color: black;
}

button{
background: rgba(255,255,255,0);
}

.btnloc{
  background: #2f4f4f;
  border: solid white;
}

.pblanc{
  color: black;
}

.barre{
  background: orange;
  color: orange;
  border: solid 1px;
}

.logohome{
  width: 50px;
}

.card{
  background-color: #2f4f4f;
  color: white;
  border: solid;
  border-color: orange;

  a{
    color: orange;
  }
}

.btn-secondary{
  color: orange;
  background-color: #2f4f4f;
  border-color: orange;
}
}

.dark-mode {
  background-color: #212529;
  color: white;
  h1, h2, h3, h4 {
  color: white;
}

.btnloc{
  background: #2f4f4f;
  border: solid white;
}

.pblanc{
  color: white;
}

.barre{
  background: orange;
  color: orange;
  border: solid 1px;
}

.logohome{
  width: 50px;
}

.card{
  background-color: #2f4f4f;
  color: white;
  border: solid;
  border-color: orange;
  }

  a{
    color: orange;
  }
}

.btn-secondary{
  color: orange;
  background-color: #2f4f4f;
  border-color: orange;
}

  footer {
    background: #2f4f4f;
  }

h1, h2, h3, h4 {
  color: white;
  margin: 0px;
}

.btnloc{
  background: #2f4f4f;
  border: solid white;
}

.pblanc{
  color: white;
}

.barre{
  background: orange;
  color: orange;
  border: solid 1px;
}

.logohome{
  width: 50px;
}

.card{
  background-color: #2f4f4f;
  color: white;
  border: solid;
  border-color: orange;

  a{
    color: orange;
  }
}

.btn-secondary{
  color: orange;
  background-color: #2f4f4f;
  border-color: orange;
}


