.msgclients{
  border: solid;
  border-color: orange;
  text-align: center;
}

.h1msg{
  text-decoration: underline orange;
  color: #2f4f4f;
}

.categorie{
  color: #2f4f4f;
  text-decoration: underline;
}
