.profil{

  border: solid;
  background: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: orange;
  color: #2f4f4f;

  p{
    text-align: center;
  }

  img{
    width: 100px;
    margin-top: 20px;
  }
}

.bloc_menu{
  background: orange;
  width: 50%;
}

.dropdownprofil{
  margin-top: 20px;
  text-align: center;
}

.soul{
  text-decoration: underline #2f4f4f;
}

//EDIT

.compteedit{
  border: solid;
  border-color: orange;
  color: #2f4f4f;
}
