<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1148820/pexels-photo-1148820.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <div class="container">
    <h1>Gestion des voitures Locations/Achats</h1>
    </div>
  </div>

  <br>

<h1 class="text-center">Édition fiche voiture</h1>

<%= render 'form', locations_achat: @locations_achat %>

<div class="text-center">
<%= link_to 'Voir la fiche', @locations_achat %> |
<%= link_to 'Retour vers index', locations_achats_path %>
</div>
